.navBarContainer {
  background: var(--color-pure-black);
  padding: 3.2rem 2.4rem;
  position: relative;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navBtn {
  border: none;
  background-color: var(--color-pure-black);
}

.divider {
  position: absolute;
  background-color: var(--color-pure-black);
  opacity: 0.2;
  left: 0;
  right: 0;
  margin-top: 3.2rem;
}

/* Media Queries */
@media (min-width: 768px) {
  .navBarContainer {
    position: initial;
    padding: 3.2rem 4rem;
  }

  .divider {
    position: initial;
    width: 100%;
    max-width: 1110px;
  }

  .logoAnchor {
    flex: 1 0;
  }

  .logo {
    margin-left: 4.2rem;
  }
}

@media (min-width: 1110px) {
  .divider {
    margin-top: 3.6rem;
  }

  .logoAnchor {
    flex: initial;
  }

  .logo {
    margin-left: initial;
  }

  .menuBtn {
    display: none;
  }
}
