@import-normalize;

:root {
  --color-peru: #d87d4a;
  --color-very-light-tangelo: #fbaf85;
  --color-chinese-black: #101010;
  --color-pure-black: #000000;
  --color-anti-flash-white: #f1f1f1;
  --color-lotion: #fafafa;
  --color-pure-white: #ffffff;
}

html {
  font-size: 62.5%;
}

@font-face {
  font-family: ManropeVar;
  src: url("./font/Manrope-VariableFont_wght.ttf");
}

body {
  /* TODO: Remember to remove temporary background color */
  background-color: black;
  margin: 0;
  font-family: ManropeVar, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

/* Global Media Queries */
@media (min-width: 1110px) {
  .container {
    max-width: 1110px;
    margin: 0 auto;
  }
}
